/artifacts
/cache
/resources/\[addons\]
/resources/\[skins\]
/resources/\[weapons\]
/resources/vrp/config/inventory
/resources/\[scripts\]/weapons
/resources/\[scripts\]/tablet_police
/resources/\[celular\]/\[VIDEOCHAMADA\]
/resources/\[scripts\]/animacoes
resources/\[skins\].rar
resources/resources.rar
*.rar
