html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: inline-block;
  overflow: hidden;
}
#wrap {
  display: none;
  position: relative;
  width: 12%;
  margin: 15% auto 5%;
  overflow: visible;
}
p {
  color: #fde470;
  color: #2f2;
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  padding: 0;
  margin: 0.5em;
}
p.disclaimer {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  font-size: 0.9em;
  color: #000;
  font-weight: 300;
}
#collar {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
#lock {
  display: block;
  background: url('https://i.imgur.com/WKoFFKh.png');
  background-size: cover;
  width: 79.9%;
  height: 79.9%;
  position: absolute;
  top: 11%;
  left: 11%;
}
#screwdriver {
  display: block;
  width: 100%;
  height: 40%;
  background: url('https://i.imgur.com/yIUJOeF.png');
  background-size: cover;
  position: absolute;
  top: 65%;
  left: 45%;
  transform-origin: 10% -10%;
}
#lockpick {
  display: block;
  background-size: cover;
  width: 15%;
  height: 150%;
  position: absolute;
  left: 45%;
  top: -110%;
  transform-origin: 50% 99%;
}
#lockpick .top {
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('https://i.imgur.com/FvdondP.png');
  background-size: cover;
}
#lockpick .bot {
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  background: url('https://i.imgur.com/1g71Pbx.png');
  background-size: cover;
}
#modal {
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#modal div {
  margin-top: 5%;
  display: inline-block;
  background: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1%;
}
#modal div h1 {
  margin-bottom: 0.22em;
}
#modal div h2 {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1.4em;
}
#modal div h3 {
  font-size: 1.1em;
}
#modal div h4 {
  font-size: 0.8em;
}
#modal #win {
  display: none;
}
#modal #lose {
  display: none;
}